
.highlight {
  // padding: 7px 7px 7px 10px;
  // border: 1px solid #ddd;
  // margin: 0 0 0 0;
  // overflow: auto;
  // border-radius: 0.2cm;
  // background-color: #0d1117;
}

.highlight .highlight {
  border: none;
  box-shadow: none;
}

code {
  font-family:ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: small;
}

// .highlight .c { color: #586E75 } /* Comment */
// .highlight .err { color: #93A1A1 } /* Error */
// .highlight .g { color: #93A1A1 } /* Generic */
// .highlight .k { color: #859900 } /* Keyword */
// .highlight .l { color: #93A1A1 } /* Literal */
// .highlight .n { color: #93A1A1 } /* Name */
// .highlight .o { color: #859900 } /* Operator */
// .highlight .x { color: #CB4B16 } /* Other */
// .highlight .p { color: #93A1A1 } /* Punctuation */
// .highlight .cm { color: #586E75 } /* Comment.Multiline */
// .highlight .cp { color: #859900 } /* Comment.Preproc */
// .highlight .c1 { color: #586E75 } /* Comment.Single */
// .highlight .cs { color: #859900 } /* Comment.Special */
// .highlight .gd { color: #2AA198 } /* Generic.Deleted */
// .highlight .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
// .highlight .gr { color: #DC322F } /* Generic.Error */
// .highlight .gh { color: #CB4B16 } /* Generic.Heading */
// .highlight .gi { color: #859900 } /* Generic.Inserted */
// .highlight .go { color: #93A1A1 } /* Generic.Output */
// .highlight .gp { color: #93A1A1 } /* Generic.Prompt */
// .highlight .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
// .highlight .gu { color: #CB4B16 } /* Generic.Subheading */
// .highlight .gt { color: #93A1A1 } /* Generic.Traceback */
// .highlight .kc { color: #CB4B16 } /* Keyword.Constant */
// .highlight .kd { color: #268BD2 } /* Keyword.Declaration */
// .highlight .kn { color: #859900 } /* Keyword.Namespace */
// .highlight .kp { color: #859900 } /* Keyword.Pseudo */
// .highlight .kr { color: #268BD2 } /* Keyword.Reserved */
// .highlight .kt { color: #DC322F } /* Keyword.Type */
// .highlight .ld { color: #93A1A1 } /* Literal.Date */
// .highlight .m { color: #2AA198 } /* Literal.Number */
// .highlight .s { color: #2AA198 } /* Literal.String */
// .highlight .na { color: #93A1A1 } /* Name.Attribute */
// .highlight .nb { color: #B58900 } /* Name.Builtin */
// .highlight .nc { color: #268BD2 } /* Name.Class */
// .highlight .no { color: #CB4B16 } /* Name.Constant */
// .highlight .nd { color: #268BD2 } /* Name.Decorator */
// .highlight .ni { color: #CB4B16 } /* Name.Entity */
// .highlight .ne { color: #CB4B16 } /* Name.Exception */
// .highlight .nf { color: #268BD2 } /* Name.Function */
// .highlight .nl { color: #93A1A1 } /* Name.Label */
// .highlight .nn { color: #93A1A1 } /* Name.Namespace */
// .highlight .nx { color: #555 } /* Name.Other */
// .highlight .py { color: #93A1A1 } /* Name.Property */
// .highlight .nt { color: #268BD2 } /* Name.Tag */
// .highlight .nv { color: #268BD2 } /* Name.Variable */
// .highlight .ow { color: #859900 } /* Operator.Word */
// .highlight .w { color: #93A1A1 } /* Text.Whitespace */
// .highlight .mf { color: #2AA198 } /* Literal.Number.Float */
// .highlight .mh { color: #2AA198 } /* Literal.Number.Hex */
// .highlight .mi { color: #2AA198 } /* Literal.Number.Integer */
// .highlight .mo { color: #2AA198 } /* Literal.Number.Oct */
// .highlight .sb { color: #586E75 } /* Literal.String.Backtick */
// .highlight .sc { color: #2AA198 } /* Literal.String.Char */
// .highlight .sd { color: #93A1A1 } /* Literal.String.Doc */
// .highlight .s2 { color: #2AA198 } /* Literal.String.Double */
// .highlight .se { color: #CB4B16 } /* Literal.String.Escape */
// .highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
// .highlight .si { color: #2AA198 } /* Literal.String.Interpol */
// .highlight .sx { color: #2AA198 } /* Literal.String.Other */
// .highlight .sr { color: #DC322F } /* Literal.String.Regex */
// .highlight .s1 { color: #2AA198 } /* Literal.String.Single */
// .highlight .ss { color: #2AA198 } /* Literal.String.Symbol */
// .highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
// .highlight .vc { color: #268BD2 } /* Name.Variable.Class */
// .highlight .vg { color: #268BD2 } /* Name.Variable.Global */
// .highlight .vi { color: #268BD2 } /* Name.Variable.Instance */
// .highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long */
// .highlight,pre.highlight{background:#272b33;color:#aab1bf}.highlight pre{background:#272b33}.highlight .hll{background:#272b33}.highlight .c{color:#5b6270;font-style:italic}.highlight .err{color:#fff;background-color:#e05151}.highlight .k{color:#c578dd}.highlight .l{color:#97c279}.highlight .n{color:#aab1bf}.highlight .o{color:#aab1bf}.highlight .p{color:#aab1bf}.highlight .cm{color:#5b6270;font-style:italic}.highlight .cp{color:#5b6270;font-style:italic}.highlight .c1{color:#5b6270;font-style:italic}.highlight .cs{color:#5b6270;font-style:italic}.highlight .ge{font-style:italic}.highlight .gs{font-weight:700}.highlight .kc{color:#c578dd}.highlight .kd{color:#c578dd}.highlight .kn{color:#c578dd}.highlight .kp{color:#c578dd}.highlight .kr{color:#c578dd}.highlight .kt{color:#c578dd}.highlight .ld{color:#97c279}.highlight .m{color:#d19965}.highlight .s{color:#97c279}.highlight .na{color:#d19965}.highlight .nb{color:#e4bf7a}.highlight .nc{color:#e4bf7a}.highlight .no{color:#e4bf7a}.highlight .nd{color:#e4bf7a}.highlight .ni{color:#e4bf7a}.highlight .ne{color:#e4bf7a}.highlight .nf{color:#aab1bf}.highlight .nl{color:#e4bf7a}.highlight .nn{color:#aab1bf}.highlight .nx{color:#aab1bf}.highlight .py{color:#e4bf7a}.highlight .nt{color:#df6b75}.highlight .nv{color:#e4bf7a}.highlight .ow{font-weight:700}.highlight .w{color:#f8f8f2}.highlight .mf{color:#d19965}.highlight .mh{color:#d19965}.highlight .mi{color:#d19965}.highlight .mo{color:#d19965}.highlight .sb{color:#97c279}.highlight .sc{color:#97c279}.highlight .sd{color:#97c279}.highlight .s2{color:#97c279}.highlight .se{color:#97c279}.highlight .sh{color:#97c279}.highlight .si{color:#97c279}.highlight .sx{color:#97c279}.highlight .sr{color:#56b5c2}.highlight .s1{color:#97c279}.highlight .ss{color:#56b5c2}.highlight .bp{color:#e4bf7a}.highlight .vc{color:#e4bf7a}.highlight .vg{color:#e4bf7a}.highlight .vi{color:#df6b75}.highlight .il{color:#d19965}.highlight .gu{color:#75715e}.highlight .gd{color:#e05151}.highlight .gi{color:#43d089}.highlight ::selection{background-color:#3e4450}.highlight .language-json .w+.s2{color:#df6b75}.highlight .language-json .kc{color:#56b5c2}
// .highlight,pre.highlight{background:#272b33;color:#aab1bf}.highlight pre{background:#272b33}.highlight .hll{background:#272b33}.highlight .c{color:#5b6270;font-style:italic}.highlight .err{color:#fff;background-color:#e05151}.highlight .k{color:#c578dd}.highlight .l{color:#97c279}.highlight .n{color:#aab1bf}.highlight .o{color:#aab1bf}.highlight .p{color:#aab1bf}.highlight .cm{color:#5b6270;font-style:italic}.highlight .cp{color:#5b6270;font-style:italic}.highlight .c1{color:#5b6270;font-style:italic}.highlight .cs{color:#5b6270;font-style:italic}.highlight .ge{font-style:italic}.highlight .gs{font-weight:700}.highlight .kc{color:#c578dd}.highlight .kd{color:#c578dd}.highlight .kn{color:#c578dd}.highlight .kp{color:#c578dd}.highlight .kr{color:#c578dd}.highlight .kt{color:#c578dd}.highlight .ld{color:#97c279}.highlight .m{color:#d19965}.highlight .s{color:#97c279}.highlight .na{color:#d19965}.highlight .nb{color:#e4bf7a}.highlight .nc{color:#e4bf7a}.highlight .no{color:#e4bf7a}.highlight .nd{color:#e4bf7a}.highlight .ni{color:#e4bf7a}.highlight .ne{color:#e4bf7a}.highlight .nf{color:#aab1bf}.highlight .nl{color:#e4bf7a}.highlight .nn{color:#aab1bf}.highlight .nx{color:#aab1bf}.highlight .py{color:#e4bf7a}.highlight .nt{color:#df6b75}.highlight .nv{color:#e4bf7a}.highlight .ow{font-weight:700}.highlight .w{color:#f8f8f2}.highlight .mf{color:#d19965}.highlight .mh{color:#d19965}.highlight .mi{color:#d19965}.highlight .mo{color:#d19965}.highlight .sb{color:#97c279}.highlight .sc{color:#97c279}.highlight .sd{color:#97c279}.highlight .s2{color:#97c279}.highlight .se{color:#97c279}.highlight .sh{color:#97c279}.highlight .si{color:#97c279}.highlight .sx{color:#97c279}.highlight .sr{color:#56b5c2}.highlight .s1{color:#97c279}.highlight .ss{color:#56b5c2}.highlight .bp{color:#e4bf7a}.highlight .vc{color:#e4bf7a}.highlight .vg{color:#e4bf7a}.highlight .vi{color:#df6b75}.highlight .il{color:#d19965}.highlight .gu{color:#75715e}.highlight .gd{color:#e05151}.highlight .gi{color:#43d089}.highlight ::selection{background-color:#3e4450}.highlight .language-json .w+.s2{color:#df6b75}.highlight .language-json .kc{color:#56b5c2}
.language-plaintext {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
}

a .language-plaintext {
  color: #232323;
  font-size: 14px;
}

h3 .language-plaintext {
  font-size: 20px;
}